@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8" ng-app="BestPlanApp">
    <div class="row">
        <h2 class="pull-left">Requests</h2>
        <span class="p-top-25 pull-left col-md-offset-1"><a href="/">Again!</a></span>
    </div>
    <div ng-controller="UserController as user">
        <span ng-if="user.fetching"><i class="fa fa-spinner fa-pulse"></i>&nbsp;Fetching Data...</span>
        <span ng-show="user.empty" class="ng-hide">There are no requests</span>
        <div class="row">
            <table class="ng-hide table table-bordered table-striped" ng-show="user.list.length > 0">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Age</td>
                        <td>Gender</td>
                        <td>Plan</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in user.list">
                        <td>{{user.Name}}</td>
                        <td>{{user.Age}}</td>
                        <td>{{user.Gender}}</td>
                        <td>{{user.Plan.Name}} ({{user.Plan.Value | currency:"AUD$"}})</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/bestplan")
}